$red: #ac2e2e;
$gray: #3b3b3b;

%clearfix {
  @extend .clearfix;
}

.nav-xs-item {
  width: 54px;
  height: 60px;
  color: #fff;
  background: $gray;

  &:hover {
    background: lighten($gray, 5%);
  }
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

@mixin centeredIcon($top) {
	position: absolute;
	top: $top;
	right: 0;
	left: 0;
	margin: auto;
  text-align: center;
}

@mixin paddedIcon($size, $color, $backgroundColor, $hoverColor, $hoverBackgroundColor) {
  position: absolute;
  top: calc(50% - .85em);
  padding: .375em;
  font-size: $size;
  color: $color;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 1px 5px -3px #000;
  background: $backgroundColor;
  cursor: pointer;

  &:hover {
    color: $hoverColor;
    background: $hoverBackgroundColor;
  }
}
