$red: #ac2e2e;
$gray: #3b3b3b;

.main-nav-mobile-item {
	width: 54px;
	height: 60px;
	color: #fff;
	background: $gray;
}

.centered-icon {
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
