$mainBlue: #58bfc3;
$mainBlueLight: #b2dcda;
$gray: #3b3b3b;
$gray-2: #f5f5f5;

%clearfix {
  @extend .clearfix;
}

.nav-xs-item {
  width: 54px;
  height: 60px;
  color: #fff;
  background: $gray;

  &:hover {
    background: lighten($gray, 5%);
  }
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

@mixin centeredIcon($top) {
	position: absolute;
	top: $top;
	right: 0;
	left: 0;
	margin: auto;
  text-align: center;
}

@mixin paddedIcon($size, $color, $backgroundColor, $hoverColor, $hoverBackgroundColor) {
  position: absolute;
  top: calc(50% - .85em);
  padding: .375em;
  font-size: $size;
  color: $color;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 1px 5px -3px #000;
  background: $backgroundColor;
  cursor: pointer;

  &:hover {
    color: $hoverColor;
    background: $hoverBackgroundColor;
  }
}

@mixin basicButton($padding: 1em, $fontSize: 16px) {
  & {
    display: inline-block;
    text-decoration: none;

    &:hover {
      > span {
        background: darken($mainBlue, 10%);
      }

      > .icon {
        background: darken($mainBlueLight, 10%);
      }
    }
  }

  > span, > .icon {
    font-size: $fontSize;
    line-height: 1em;
    color: #fff;
    display: table-cell;
  }

  > span {
    padding: $padding;
    font-weight: 900;
    text-transform: uppercase;
    background: $mainBlue;
  }

  > .icon {
    padding-left: $padding;
    padding-right: $padding;
    vertical-align: middle;
    background: $mainBlueLight;
  }
}

@mixin closeButton($color: #787878, $width: 2px, $height: 14px) {
  & {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 14px;
    height: 14px;
    text-indent: -999999px;
    border: 0;

    &:hover:after,
    &:hover:before {
      background: darken($color, 5%);
    }
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $width;
    height: $height;
    margin: auto;
    background: $color;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}