.delivery-slots {
	.czech-post-delivery {
		padding-bottom: 15px;
	}

	.place-select {
		margin-top: 15px;
	}
}

.delivery-slot {
	position: relative;
	margin: 0;
	padding: 15px 0 16px 0;

	&:after {
		content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-image: linear-gradient(to right, #cbcbcb 40%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
	}

	@media (min-width: 992px) {
		padding-top: 22px;
	  padding-bottom: 13px;
	}

	&.special-delivery-selection {
			&:after {
				display: none;
			}
	}

	&.special-delivery-selection + .czech-post-delivery {
		position: relative;
		
		&:after {
			content: '';
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    height: 1px;
	    background-image: linear-gradient(to right, #cbcbcb 40%, rgba(255, 255, 255, 0) 0%);
	    background-position: top;
	    background-size: 10px 1px;
	    background-repeat: repeat-x;
		}
	}
}

.delivery-slot__radio {
	padding-right: 11px;
}

.delivery-slot__text,
.delivery-slot__price {
	@media (min-width: 992px) {
	  display: table-cell;
	  vertical-align: middle;
	}
}

.radio__label {
	width: 100%;

	&:hover .delivery-slot__description {
		color: $gray;
	}
}

		.delivery-slot__text {
			font-size: 16px;
			line-height: 30px;
			color: $gray;

			@media (min-width: 992px) {
			  padding-right: 30px;
			}
		}

				.delivery-slot__title {
					font-size: 16px;
					line-height: 30px;
					color: $gray;
				}

				.delivery-slot__description {
					margin-bottom: 13px;
					color: #7c7c7c;
					font-size: 14px;
					line-height: 120%;
				}

		.delivery-slot__price {
			color: #1da72d;
			font-size: 18px;
			font-weight: 900;
			line-height: 120%;

			@media (min-width: 992px) {
			  white-space: nowrap;
			}
		}