%responsive-img {
  @extend .responsive-img;
}

#adbox-hp {
	display: none;

	@media (min-width: 992px) {
	  display: block;

	  a {
	  	display: block;
	  	text-decoration: none;

			img {
				@extend %responsive-img;
			}
	  }
	}
}