.pagination {
	text-align: center;
	
	@extend .clearfix;

	ol {
		display: inline-block;

		@extend .clearfix;

		li {
			float: left;

			&.active {
				a {
					color: #fff;
					text-decoration: none;
					background: $gray;

					&:hover {
						background: darken($gray, 5%);
					}
				}
			}
			}

			a {
			padding: .40em .735em;
			color: $gray;
			font-size: 15px;
			line-height: 30px;
		}
	}
}