.product-item {
  width: 100%;
}
    .product-item__link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      padding: 13px 15px 25px 15px;
      line-height: 0;
      text-decoration: none;
      text-align: center;
      border: 1px solid #f3f3f3;
      @extend .clearfix;

      &:hover {
        position: relative;
        box-shadow: 0 0 0 2px $mainBlue;
        z-index: 1;

        .product-item__description {
          color: $gray;
        }
      }

      @media (min-width: 576px) {
        &:nth-child(n+2) {
          border-top: none;
        }
      }
    }

        .product-item__header {
          display: block;
          width: 100%;
          margin-bottom: .775em;
          color: $gray;
          font-size: 18px;
          line-height: 30px;
        }

        .product-item__img {
          @extend .responsive-img;
          margin-bottom: 14px;
        }

        .product-item__description {
          width: 100%;
          font-size: 14px;
          line-height: 120%;
          color: #a7a7a7;
        }

        .product-item__footer {
          display: flex;
          flex-basis: 100%;
          flex-wrap: wrap;
          align-items: center;
          align-self: flex-end;
          text-align: right;
          justify-content: flex-end;
        }

            .product-item__price,
            .product-item__detail {
              display: table-cell;
              vertical-align: middle;
              line-height: 1;
            }

            .product-item__price {
              text-align: right;

              @media (min-width: 768px) {
                display: block;
              }

              @media (min-width: 1200px) {
                display: table-cell;
              }
            }
    
                .product-item__discount {
                  display: block;
                  text-align: right;
                  text-decoration: line-through;
                  font-size: 14px;
                  line-height: 120%;
                  color: #808080;
                }

                .product-item__current-price {
                  display: inline-block;
                  text-align: right;
                  white-space: nowrap;

                  span {
                    font-size: 14px;
                    line-height: 120%;
                    color: #808080;
                  }

                  strong {
                    font-size: 20px;
                    font-weight: 900;
                    color: #1da72d;
                    line-height: 120%;
                  }
                }

                .product-item__detail {
                  @include basicButton(.75em);
                  margin-left: 13px;

                  > span {
                    padding-left: 1em;
                  }

                  > .icon {
                    padding-right: .5em;
                    padding-left: .5em;
                    font-size: 20px;
                  }
                }
