.main-nav-item {
	display: block;
	padding: 19px 17px;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 120%;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
}

#main-nav {
	ul {
		li {
			&:last-child a:after {
				display: none;
			}

			a {
				position: relative;
				text-decoration: none;
				background: $red;
				@extend .main-nav-item;
				
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					margin: 0 auto;
					width: calc(100% - 34px);
					height: 1px;
					background: #bd4747;
				}
			}
		}
	}
}

.login-nav {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	background: $gray;

	ul {
		li {
			&.login-nav__registration {
				display: none;
			}

			&.login-nav__login a {
				position: relative;
				float: right;
				margin-right: 108px;
				padding: 0;
				text-align: center;
				@extend .main-nav-mobile-item;

				&:hover {
					background: darken(gray, 20%);
				}

				i {
					font-size: 30px;
					@extend .centered-icon;
				}

				span {
					display: none;
				}
			}
		}
	}
}

.open-mmenu {
	position: relative;
	width: 127px;
	height: 60px;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 700;
	border: none;
	background: $red;
	z-index: 1;
	@extend .hide-from-sm-up;

	span, i {
		vertical-align: middle;
	}

	i {
		margin-right: 7px;
		font-size: 31px;
	}
}