@import './category-navigation-mixins';

.my-account__navigation {
  margin-bottom: 20px;

  > ul {
    border: 2px solid #ebebeb;

    > li {
      position: relative;

      &:last-child a {
        border-bottom: none;
      }

      > a {
        @include firstLevelItem($gray, #f5f5f5);
      }
    }
  }

  @media (min-width: 992px) {
    display: block !important;
    height: auto !important;
  }
}

#category-navigation {
  margin-bottom: 27px;
  
  nav {
    @import './first-level';

    &[data-open='true'] {
    }
  }

  @media (min-width: 992px) {
    width: 263px;
    margin-right: 30px;

    nav {
      display: block !important;
    }
  }
}

.open-category-navigation {
  @include firstLevelItem(#fff, $mainBlue);
  width: 100%;
  border: none;
  text-align: left;
  @extend .hide-from-md-up;

  .icon {
    right: 15px;

    &:hover {
      color: $mainBlue;
      background: #fff;
    }
  }
}