@mixin firstLevelItem($color, $background) {
  position: relative;
  display: block;
  padding: 17px 55px 16px 14px;
  font-size: 15px;
  line-height: 120%;
  color: $color;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid #ebebeb;
  background: $background;

  &:hover {
    background: darken($background, 5%);
  }

  &[data-open='true'] {
    > .icon {
      transform: rotate(180deg);
      box-shadow: -1px -1px 5px -3px #000;
    }
  }

  > .icon {
    @include paddedIcon(16px, $red, #fff, #fff, $red);
    right: 13px;
  }
}