%clearfix {
	@extend .clearfix;
}

.best-sellers-hp {
	margin-bottom: 40px;

	.best-sellers-hp__wrapper {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid #f3f3f3;

		@media (min-width: 576px) {
			@extend %clearfix;
		}
	}

	.product-item {
	  @media (min-width: 576px) {
	  	width: 50%;
	  	float: left;

			flex-grow: 1;

	    &:nth-child(2n+1) {
	      clear: left;
	    }
	  }

	  @media (min-width: 768px) {
	  	width: 33%;

			flex-grow: 1;

	    &:nth-child(2n+1) {
	      clear: none;
	    }

	    &:nth-child(3n+1) {
	      clear: left;
	    }
	  }
	}
}

		.best-sellers-hp__header {
			margin-bottom: .675em;
		}