@mixin menuItem($color) {
  display: block;
  padding: 19px 17px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: $color;

  &:hover {
    background: darken($color, 5%);
  }

  @media (min-width: 1200px) {
    padding: 24px 40px 20px 40px;
  }
}

header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8eef1+0,ebeced+100 */
  background: #e8eef1; /* Old browsers */
  background: -moz-linear-gradient(top, #e8eef1 0%, #ebeced 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e8eef1 0%,#ebeced 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e8eef1 0%,#ebeced 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eef1', endColorstr='#ebeced',GradientType=0 ); /* IE6-9 */
}

.header-item {
  position: absolute;
  top: 0;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  @extend .nav-xs-item;

  &:hover {
    background: lighten($gray, 5%);
  }

  .icon {
    font-size: 30px;
    color: #fff;
    @include centeredIcon(15px);
  }
}
