%responsive-img {
  @extend .responsive-img;
}

.header-toolbar {
  position: relative;
  padding: 12px 0 10px 0;

  @media (min-width: 768px) {
    @extend %clearfix;
  }

  @media (min-width: 1200px) {
    padding: 29px 0 23px 0;
  }
}

  .header-toolbar__logo-mobile {
    text-align: center;
    font-size: 0;
    line-height: 0;

    a {
      display: inline-block;
    }

    @extend .hide-from-md-up;

    img {
      @extend %responsive-img;
    }

    @media (min-width: 576px) {
      float: left;
      padding-top: 10px;
    }

    @media (min-width: 768px) {
      width: 194px;
    }
  }

  .header-toolbar__logo-desktop {
    display: none;
    font-size: 0;
    line-height: 0;

    @media (min-width: 992px) {
      display: block;
      float: left;
      max-width: 312px;

      a {
        font-size: 0;
        display: block;
      }

      img {
        @extend %responsive-img;
      }
    }
  }

  .header-toolbar__search {
    position: absolute;
    top: 111px;
    width: 100%;

    &[data-open='true'] {
      display: block;
    }

    &[data-open='false'] {
      display: none;
    }

    form {
      box-shadow: 0px 2px 10px -5px $gray;
      border-radius: 5px;

      input, button {
        height: 45px;
      }

      input {
        float: left;
        width: calc(100% - 50px);
        padding: 10px 15px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      button {
        width: 50px;
        border: none;
        border-left: 1px solid #ececec;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        i {
          font-size: 28px;
          color: $mainBlue;
        }

        &:hover {
          background: $mainBlue;

          i {
            color: #fff;
          }
        }
      }
    }

    @media (min-width: 576px) {
      display: block !important;
      position: static;
      float: right;
      width: 50%;
      left: inherit;
      right: 0;
    }

    @media (min-width: 768px) {
      width: 218px;
      float: left;
      margin: 4px 0 0 30px;
    }

    @media (min-width: 992px) {
      width: 300px;
      margin-left: 50px;
    }

    @media (min-width: 1200px) {
      width: 360px;
      margin-left: 80px;

      form {
        input, button {
          height: 55px;
        }

        input {
          width: calc(100% - 60px);
        }

        button {
          width: 60px;

          i {
            font-size: 28px;
            color: $mainBlue;
          }

          &:hover {
            background: $mainBlue;

            i {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .header-toolbar__shopping-cart {
    right: 0;
    top: 49px;
    @extend .header-item;

    .cart-wrap {
      .items-count {
        display: none;
      }
    }

    .price-wrap {
      display: none;
    }

    @media (min-width: 576px) {
      top: 67px;
    }

    @media (min-width: 768px) {
      display: block;
      float: right;
      position: static;
      width: 218px;
      height: auto;
      line-height: 1;
      background: none !important;
      @extend %clearfix;

      > div {
        float: right;
      }

      &:hover .cart-wrap .icon {
        background: darken($mainBlue, 5%);
      }

      .cart-wrap {
        position: relative;
        float: left;

        .items-count {
          display: table;
          position: absolute;
          top: -5px;
          right: -7px;
          width: 24px;
          height: 24px;
          background: $gray;
          border-radius: 50%;
          z-index: 1;

          span {
            display: table-cell;
            vertical-align: middle;
            font-size: 13px;
          }
        }

        .icon {
          display: block;
          position: static;
          width: 53px;
          height: 53px;
          padding-top: 11px;
          background: $mainBlue;
          border-radius: 100%;
        }
      }

      .price-wrap {
        display: block;
        float: left;
        padding-top: 7px;
        padding-left: 20px;
        text-align: left;
        font-size: 15px;

        .basket-name {
          display: block;
          margin-bottom: 2px;
          font-size: 14px;
          white-space: nowrap;
          color: $gray;
        }

        .basket-price {
          font-size: 18px;
          font-weight: 900;
          color: $mainBlue;
        }
      }
    }

    @media (min-width: 1200px) {
      margin-top: 6px;
      margin-right: 16px;
    }
  }
