.products-listing-wrapper--loading {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .75);
    z-index: 9;
  }
}

.listing-page-loader__wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 10%;
  text-align: center;
  z-index: 10;
}
    .listing-page-loader {
      border: 5px solid #ebebeb;
      border-radius: 50%;
      border-top: 5px solid #58bfc3;
      width: 77px;
      height: 77px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      margin: auto;

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        50% { transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(720deg); }
      }
    }
    .listing-page-loader__image {
      margin: 20px 0 0;
      width: 270px;
    }
    .listing-page-loader__text {
      display: none;
      font-size: 18px;
      margin: 15px 0 0;
      //display: inline-block;
    }
.listing-page-loader__no-products {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #ffd575;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 10px 20px;
    border-color: transparent transparent #ffd575 transparent;
    top: -10px;
  }
}
    .listing-page-loader__no-products-text {
      margin: 0;
    }

.listing-page-loader__error {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background: #ff7575;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 0 20px;
    border-color: #ff7575 transparent transparent transparent;
    bottom: -10px;
  }
}
    .listing-page-loader__error-text {
      margin: 0;
      color: #fff;
    }

.filters {
  position: relative;
  margin-bottom: 30px;

  .ui-tabs-component {
    display: inline-block;

    @media (min-width: 768px) {
      max-width: calc(100% - 340px); // 100% - price filter width + 20px
    }
  }

  .ui-tabs-component .ui-tabs-panel {
    margin: 0;
    padding: 10px 15px;
  }

  .ui-tabs-component.ui-widget.ui-widget-content {
    margin: 0;
    padding: 0;
  }

  .ui-tabs-component.ui-widget.ui-widget-content .ui-widget-header {
    margin-bottom: 0;
  }

  .ui-tabs-component.ui-widget.ui-widget-content .ui-widget-header .ui-tabs-tab {
    margin-right: 5px;
  }

  .ui-tabs-component__title {
    padding: 5px 10px;
    width: auto;
    height: auto;
    text-transform: initial;
    background: #fff;
  }
}
    .filters__category {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

        .filters__category__item {
          min-width: 100px;
          padding: 8px 0;
          
          .checkbox__decoy {
            background: #fff;
          }
        }

    .filters__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 5px 0;
      border-top: 2px solid #e8e8e8;
      border-bottom: 2px solid #e8e8e8;

      @media (min-width: 576px) {
        flex-direction: initial;
        align-items: center;
        padding: 5px 8px;
      }
    }

        .filters__sort-by,
        .filters__checkbox-filters {
          display: flex;
          align-items: center;
          width: 100%;

          @media (min-width: 576px) {
            width: 50%;
          }
        }

        .filters__checkbox-filters {
          flex-wrap: wrap;
        }

        .filters__sort-by {
          justify-content: flex-start;

          @media (min-width: 576px) {
            justify-content: flex-end;
          }
        }

            .filters__sort-by__label {
              margin-right: 10px;
              white-space: nowrap;
            }

            .filters__sort-by-list {
              display: flex;
              flex-wrap: wrap;
            }

                .filters__sort-by__item,
                .filters__checkbox-filters__item {
                  padding: 7px;
                  min-width: 100px;
                }

                .product-form-sort--active {
                  font-weight: 700;
                }

    .filters_remove-all-filters {
      display: none;
      margin-top: 10px;
      color: #3b3b3b;
      font-size: 16px;

      &.filters_remove-all-filters--visible {
        display: inline-block;
      }
    }

    .filters__range {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding-right: 15px;

      @media (min-width: 768px) {
        position: absolute;
        top: 10px;
        right: 0;
        width: 320px;
      }
    }

        .filters__range-label {
          margin-right: 20px;
        }

        .filters__range-body {
          flex: 1;

          .ui-widget.ui-widget-content {
            margin-bottom: 15px;
            font-size: 17px;
            border: none;
            border-radius: 15px;
            background: #e6e6e6;
          }
        }

            .filters__range-min,
            .filters__range-max {
              margin-bottom: 10px;
              font-size: 15px;
              font-weight: 900;
            }

            .filters__range-inputs {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
                .filters__range-min,
                .filters__range-max {
                  margin: 0;
                  width: calc(50% - 20px);
                  min-height: 22px;
                }

            .filters__range-element {
              clear: both;
            }
                .ui-widget-header {
                  background: #e6e6e6;
                }

                .ui-slider .ui-slider-handle {
                  cursor: pointer;
                }

                .ui-slider .ui-slider-handle {
                  top: -6px;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  border: none;
                  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e5e5e+2,2c2c2c+100 */
                  background: #5e5e5e; /* Old browsers */
                  background: -moz-linear-gradient(top, #5e5e5e 2%, #2c2c2c 100%); /* FF3.6-15 */
                  background: -webkit-linear-gradient(top, #5e5e5e 2%,#2c2c2c 100%); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(to bottom, #5e5e5e 2%,#2c2c2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */

                  &:after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: 7px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    border-bottom: 1px solid #8c8c8c;
                    background: #2e2e2e;
                  }
                }

  .filters__active-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @media (min-width: 576px) {
      flex-wrap: nowrap;
    }
  }

  .filters__active-filters--hidden {
    display: none;
  }

      .filters__active-filters__label {
        width: 100%;

        @media (min-width: 576px) {
          width: auto;
        }
      }
  
      .filters__active-filters__list-wrapper {
        flex: 1;
      }

          .filters__active-filters__list {
            display: flex;
            flex-wrap: wrap;
          }

              .filters__active-filters__item {
                display: flex;
                align-items: center;
                margin: 5px;
                background: $gray-2;

                &:hover {
                  background: darken($gray-2, 5%);
                }
              }

                  .filters__active-filters__button {
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    font-size: 16px;
                    border: none;
                    background: transparent;
                    font-family: 'Roboto', sans-serif;
                  }

                      .filters__active-filters__text {
                        display: block;
                        margin-right: 10px;
                      }