.subcategories {
  margin-bottom: 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    li {
      flex-basis: 100%;
      margin: 0 10px 10px 10px;

      @media (min-width: 576px) {
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
      }

      @media (min-width: 992px) {
        flex-basis: calc(33.333% - 20px);
      }

      a {
        display: block;
        padding: 5px 15px;
        color: #3b3b3b;
        text-decoration: none;
        background: $gray-2;
        border: 2px solid #ebebeb;

        &:hover {
          background: darken($gray-2, 5%);
          border-color: darken($gray-2, 5%);
        }
      }
    }
  }
}