%clearfix {
	@extend .clearfix;
}

.best-sellers-hp {
	margin-bottom: 40px;

	.best-sellers-hp__wrapper {
		display: flex;
		flex-wrap: wrap;

		@media (min-width: 576px) {
			@extend %clearfix;
		}
	}

	.product-item {
	  @media (min-width: 576px) {
	  	width: 50%;
	  	float: left;
	  }

	  @media (min-width: 768px) {
	  	width: 33.3333%;

			.product-item__link {
				border-top: 0;
				border-bottom: 2px solid #f3f3f3;
			}

			&:nth-child(1) .product-item__link {
				border-top: 2px solid #f3f3f3;
			}

			&:nth-child(2) .product-item__link {
				border-top: 2px solid #f3f3f3;
			}

			&:nth-child(3) .product-item__link {
				border-top: 2px solid #f3f3f3;
			}

			&:nth-child(3n+1) .product-item__link {
				border-left: 2px solid #f3f3f3;
			}

			&:nth-child(3n+3) .product-item__link {
				border-right: 2px solid #f3f3f3;
			}
	  }
	}
}

		.best-sellers-hp__header {
			margin-bottom: .675em;
		}