#homepage-carousel {
  position: relative;
  overflow: hidden;
  height: 200px;

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    height: 300px;
  }

  @media (min-width: 992px) {
    height: 360px;
  }
}

.homepage-carousel-dots {
  font-size: 0;
  line-height: 0;
  text-align: center;

  .slick-dots {
    position: relative;
    bottom: auto;
    overflow: hidden;
    display: inline-block;
    width: auto;

    li {
      float: left;
      margin: 15px 3px;
      border: 1px solid #bfd6e3;

      &.slick-active:before {
        content: '';
        position: absolute;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        top: 4px;
        left: 4px;
        background: $red;
      }

      button {
        display: none;
      }
    }
  }
}

    .homepage-carousel__item {
      position: relative;
      width: 100%;
      padding: 20px;
      height: 200px;
      float: left;
      font-weight: 900;
      text-transform: uppercase;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(45deg, black -30%, rgba(255, 255, 255, 0) 65%);
      }

      @media (min-width: 768px) {
        height: 300px;
      }

      @media (min-width: 992px) {
        height: 360px;
      }
    }

        .homepage-carousel__item__description {
          position: absolute;
          bottom: 18px;
          left: 20px;
          z-index: 1;

          h2 {
            margin-bottom: 8px;
            color: #fff;
            font-size: 20px;
          }

          p {
            display: none;
            width: 50%;
          }

          a {
            display: inline-block;
            font-size: 14px;
            text-decoration: none;
            color: #fff;
            background: $red;
            @extend .clearfix;

            span, .icon {
              display: inline-block;
              float: left;
              padding: 13px 11px 12px 11px;
            }

            span {
              padding-right: 24px;
            }

            .icon {
              background: #9c2424;
              padding-right: 13px;
              transform: rotate(180deg);
            }
          }

          @media (min-width: 768px) {
            h2 {
              position: relative;
              padding-bottom: 16px;
              font-size: 29px;

              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 30px;
                height: 4px;
                background: $red;
              }
            }

            p {
              display: block;
              margin-bottom: 14px;
              color: #fff;
              text-transform: none;
              font-weight: 400;
              line-height: 1.25em;
            }

            a {
              font-size: 15px;

              span, .icon {
                padding: 14px 30px 12px 11px;
              }

              .icon {
                padding-right: 11px;
                padding-left: 14px;
              }
            }
          }

          @media (min-width: 992px) {
            h2 {
              padding-bottom: 20px;
              margin-bottom: 15px;
              font-size: 34px;
            }

            a {
              font-size: 15px;

              span, .icon {
                padding: 17px 33px 15px 14px;
              }

              .icon {
                padding-right: 14px;
                padding-left: 17px;
              }
            }
          }

          @media (min-width: 1200px) {
            h2 {
              font-size: 38px;
            }
          }
        }